<div class="container">
  <h1 class="header">Your Cart</h1>

  <div class="empty-cart" *ngIf="cartItems.length === 0">
    You have no items in your cart
  </div>
  <ul class="cart" *ngIf="cartItems.length > 0">
    <li class="cart-item" *ngFor="let product of cartItems">
      <div class="product">
        <div class="product-details">
          <img [src]="getImageUrl(product)" [alt]="product.name" />
          <div class="product-info">
            <div class="name">{{ product.name }}</div>
            <div class="description">{{ product.description }}</div>
            <div class="category">Part Type: {{ product.category }}</div>
          </div>
        </div>
        <div class="price">
          <div [ngClass]="{ strikethrough: product.discount > 0 }">
            {{ product.price | currency : "USD" }}
          </div>
          <div *ngIf="product.discount > 0" class="discount">
            {{ product.price * (1 - product.discount) | currency : "USD" }}
          </div>
          <button (click)="removeFromCart(product)">Remove</button>
        </div>
      </div>
    </li>
  </ul>
  <div class="total">Total: {{ cartTotal | currency }}</div>

  <form
    #checkoutForm="ngForm"
    class="checkout"
    *ngIf="cartItems.length > 0"
    (ngSubmit)="checkout()"
  >
    <h2>Checkout</h2>
    <input
      name="fullName"
      #fullName="ngModel"
      required
      [(ngModel)]="shippingAddress.fullName"
      placeholder="Full Name"
      type="text"
    />
    <input
      name="street"
      #street="ngModel"
      required
      [(ngModel)]="shippingAddress.street"
      placeholder="Street Address"
      type="text"
    />
    <input
      name="city"
      #city="ngModel"
      required
      [(ngModel)]="shippingAddress.city"
      placeholder="City"
      type="text"
    />
    <input
      name="postalCode"
      #postalCode="ngModel"
      required
      [(ngModel)]="shippingAddress.postalCode"
      placeholder="Postal Code"
      type="text"
    />
    <input
      name="country"
      #country="ngModel"
      required
      [(ngModel)]="shippingAddress.country"
      placeholder="Country"
      type="text"
    />
    <button [disabled]="checkoutForm.invalid" type="submit" class="button cta">
      Place Order
    </button>
  </form>

  <div class="checkout-message success" *ngIf="completedOrder">
    Order {{ completedOrder.id }} has been stored.
  </div>
  <div class="checkout-message error" *ngIf="checkoutError">
    {{ checkoutError }}
  </div>
</div>
